body {
    background-color: #f8f9fa; /* Bootstrap default background color */
}

.navbar {
    background-color: #400a53; /* Warhawk Purple */
}

#login-page {
    background-color: #400a53; /* Warhawk Purple */
    color: #ffffff; /* Warhawk White */
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

#dashboard {
    display: none;
    background-color: #ffffff; /* Warhawk White */
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.tab-navigation {
    background-color: #400a53; /* Warhawk Purple */
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}

.tab-navigation a {
    color: #ffffff; /* Warhawk White */
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    background-color: #6e1b94; /* Slightly lighter shade of Warhawk Purple */
}

.tab-navigation a:hover {
    background-color: #501169; /* Darker shade of Warhawk Purple */
}
